:root {
  --color-text: #f3f4f6;
  --color-hero: #151821;
  --color-background: #0d0f14;
  --color-surface: #171923;
  --color-text-muted: #9ca3af;
  --color-accent: #4ade80;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: var(--display1-fs);
  line-height: 1.05;
  letter-spacing: -0.022em;
  font-weight: 400;
  margin-block-end: 1.5em;
}

h2 {
  font-size: var(--display2-fs);
  line-height: 1.1;
  letter-spacing: -0.022em;
  font-weight: 400;
  margin-block-end: 1em;
}

h3 {
  font-size: var(--title2-fs);
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 400;
  margin-block-end: 0.75em;
}

.hero__title {
  font-size: var(--hero-fs);
  line-height: 1.02;
  letter-spacing: -0.035em;
  font-weight: 700;
  max-width: 10ch;
  margin-block-end: 0.5em;
}

p {
  font-size: var(--body-fs);
  line-height: 1.55;
  letter-spacing: -0.011em;
  font-weight: 400;
  margin-block-end: 0.5em;
}

section {
  padding-block: 4rem;
}

:root {
  --hero-fs: clamp(3.769rem, 6vw + 1.131rem, 6.854rem);
  --display1-fs: clamp(2.965rem, 4vw + 0.89rem, 4.236rem);
  --display2-fs: clamp(1.963rem, 3vw + 0.589rem, 2.618rem);
  --title1-fs: clamp(1.646rem, 2vw + 0.494rem, 2.058rem);
  --title2-fs: clamp(1.375rem, 1.5vw + 0.413rem, 1.618rem);
  --title3-fs: clamp(1.145rem, 1vw + 0.344rem, 1.272rem);
  --heading-fs: clamp(1.071rem, 0.6vw + 0.321rem, 1.128rem);
  --subheading-fs: clamp(0.842rem, 0.5vw + 0.253rem, 0.887rem);
  --body-fs: clamp(1rem, 0.3vw + 0.3rem, 1rem);
  --callout-fs: clamp(0.895rem, 0.35vw + 0.269rem, 0.942rem);
  --label-fs: clamp(0.835rem, 0.2vw + 0.251rem, 0.835rem);
  --caption-fs: clamp(0.786rem, 0.15vw + 0.236rem, 0.786rem);
  --capline-fs: clamp(0.786rem, 0.1vw + 0.236rem, 0.786rem);
}

.container {
  width: 95%;
  max-width: 1400px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 80%;
    max-width: 1500px;
  }
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}
