@use "../../abstract/index" as *;
@use "sass:math";

.hero {
  padding-block-start: $xl;
  padding-block-end: $xl;

  @include respond-to(laptop-l) {
    padding-block-start: $x2xl;
    padding-block-end: $x2xl;
  }
}

.hero__grid {
  display: grid;
  grid-template-columns: 1fr;

  @include respond-to(laptop-l) {
    grid-template-columns: minmax(0, 1.5fr) 1fr;
  }
}

.hero__container {
  margin-inline: auto;
  width: clamp(265px, 80%, 1600px);
}

.hero__shell {
  background-color: transparent;
  border-radius: math.div($raw-display2-fs, $hero-lh) * 1em;

  @include respond-to(tablet) {
    background-color: $surface;
  }
}

.hero__content {
  // padding-inline: clamp(2rem, 3vw + 0.5rem, 2.5rem);
  // // padding-block-end: clamp(2.5rem, 3vw + 0.5rem, 2.8rem);
  // padding-block-start: math.div($raw-title1-fs, $title1-lh) * 0.9em;

  // width: 90%;

  @include respond-to(tablet) {
    padding-inline: clamp(2.8rem, 3vw + 0.5rem, 3.1rem);
    padding-block-end: clamp(2.5rem, 3vw + 0.5rem, 2.8rem);
    padding-block-start: math.div($raw-title1-fs, $title1-lh) * 0.9em;
  }
  @include respond-to(laptop) {
    padding-inline: clamp(3rem, 3vw + 0.5rem, 3.3rem);
    padding-block-end: clamp(2.5rem, 3vw + 0.5rem, 2.8rem);
    padding-block-start: math.div($raw-title1-fs, $title1-lh) * 0.9em;
  }

  @include respond-to(laptop-l) {
    padding-inline: $display1-fs;
    padding-block-end: clamp(2.5rem, 3vw + 0.5rem, 2.8rem);
    padding-block-start: math.div($raw-display2-fs, $display2-lh) * 0.9em;
  }
  // @media (min-width: 1600px) {
  //   padding-inline-end: clamp(0.5rem, 2vw + 0.5rem, 2rem);
  // }

  order: 1;

  .button {
    margin-inline-end: $m;

    &[button-type="secondary"] {
      display: none;
    }
  }
}

.hero__label {
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 500;
  margin-block-end: 0.5em;
  opacity: 0.7;

  @include respond-to(tablet) {
    @include typo(caption, bold);
    margin-block-end: $xs;
  }
  @include respond-to(laptop) {
    @include typo(body, bold);
    margin-block-end: $xs;
  }
  @include respond-to(laptop-l) {
    @include typo(heading, bold);
    margin-block-end: $xs;
  }

  opacity: 0.65;
  color: $accent;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 500;

  @media (min-width: 1812px) {
    @include typo(title3, bold);
  }
}

.hero__title {
  @include typo(display2, bold);

  margin-block-end: 1em;
  display: block;
  word-break: keep-all;
  // max-width: 14ch;

  span {
    white-space: nowrap;
  }

  @include respond-to(tablet) {
    @include typo(display1, bold);

    margin-block-end: $xxs;
  }

  @include respond-to(laptop-l) {
    font-size: calc(var(--hero-fs) * var(--hero-scale, 1));
    @include typo(hero);

    // & > span {
    //   white-space: nowrap;
    // }
  }
}

.hero__p {
  @include typo(body);
  margin-block-end: $xl;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.85;

  max-width: 34ch;

  @include respond-to(tablet) {
    @include typo(title2);
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.85;

    max-width: 40ch;
  }
  @include respond-to(laptop) {
    max-width: 38ch;
  }
  @include respond-to(laptop-l) {
    margin-block-end: $xxl;
  }
}

.hero__media {
  display: none;
  @include respond-to(tablet) {
    @include flex(center, center, column nowrap);

    row-gap: 1.8rem;
    column-gap: 1.5rem;
  }

  @include respond-to(laptop-l) {
    row-gap: 1.5rem;
  }

  min-height: 0;
  max-height: 100%;
  height: 100%;
  overflow-y: hidden;
  order: 2;

  padding-block-end: $xl;
  padding-block-start: $m;

  @include respond-to(laptop-l) {
    margin-block: 0;
    padding-block: $xs;
    padding-inline-start: $m;
  }

  @media (min-width: 1600px) {
    padding-block: 2.5rem;
    padding-inline-end: $m;
  }

  .hero__card:last-child {
    display: none;
    @include respond-to(laptop) {
      display: block;
    }
  }
}

.hero__card {
  overflow: hidden;
  border-radius: 1.5rem;
  min-height: 0;

  width: 85%;

  @include respond-to(laptop) {
    width: 80%;
  }
  @include respond-to(laptop-l) {
    width: 70%;
  }
  // @media (min-width: 1800px) {
  //   width: 75%;
  // }
}

.hero__card img,
.hero__card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero__card--portrait {
  aspect-ratio: 16 / 9;

  @include respond-to(laptop-l) {
    aspect-ratio: 5 / 4;
  }
}
.hero__card--landscape {
  aspect-ratio: 16 / 9;
}
