@use "../abstract/index" as *;
@use "sass:math";

// .main-nav {
//   // margin-block-start: $xs;
// }

.main-nav {
  border-bottom: 1px solid color-mix(in srgb, $text-muted 20%, transparent);
}
.logo {
  color: $text;
  font-size: 1.9rem;
  line-height: 1;
  opacity: 0.9;
  display: inline-block;
}

.nav--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;

  & > .button {
    display: none;
    @include respond-to(tablet) {
      display: inline-flex;
    }
  }
}

.nav__list {
  display: none;

  @include respond-to(tablet) {
    @include flex(center, center, row nowrap);
    gap: $l;

    li {
      display: flex;
    }
  }
}
.nav--centered {
  .nav__list {
    margin-inline: auto;
  }
}
.nav--left {
  .nav__list {
    margin-inline: 0;
  }

  .nav__cta {
    margin-inline-start: auto;
  }
}

.nav__links {
  @include typo(body);
  position: relative;

  @include flex(center, center, row nowrap);

  border-bottom: 3px solid transparent;
  transition: border 0.3s ease;

  padding-block-start: $xxs;
  font-weight: 400;
  opacity: 0.85;
  letter-spacing: 0.01em;
  line-height: 1;
  height: 100%;

  // outline: 1px solid red;

  &:hover {
    // border-bottom: 2px solid $accent;  use it if you not using the ::after element for the underline effect
    // box-shadow: inset 0 -2px 0 $accent;  same as above
    opacity: 1;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background: $accent;
  transition: width 0.25s ease;
}

// .nav__cta {
//   // @include typo(label, bold);
// }

// nav__hamburger

.nav__hamburger {
  @include flex(center, center, column nowrap);
  gap: 5px;

  width: 2rem;
  height: 2rem;

  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;

  @include respond-to(tablet) {
    display: none;
  }
}

.nav__hamburger span {
  width: 1.55rem;
  height: 2px;
  background: $text;
  display: block;
  border-radius: 1px;
  opacity: 0.8;

  transition: 0.25s ease;
  transform-origin: center;
}

.nav__hamburger.is-active span:nth-child(1) {
  transform: translate(7px) rotate(45deg);
}
.nav__hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.nav__hamburger.is-active span:nth-child(3) {
  transform: translate(-7px) rotate(-45deg);
}

// Testing
// .nav__hamburger:hover span:nth-child(1) {
//   transform: translateY(7px) rotate(45deg);
// }
// .nav__hamburger:hover span:nth-child(2) {
//   opacity: 0;
// }
// .nav__hamburger:hover span:nth-child(3) {
//   transform: translateY(-7px) rotate(-45deg);
// }
