@use "../abstract/index" as *;
@use "sass:math";

:root {
  --hero-fs: #{$hero-fs};
  --display1-fs: #{$display1-fs};
  --display2-fs: #{$display2-fs};
  --title1-fs: #{$title1-fs};
  --title2-fs: #{$title2-fs};
  --title3-fs: #{$title3-fs};
  --heading-fs: #{$heading-fs};
  --subheading-fs: #{$subheading-fs};
  --body-fs: #{$body-fs};
  --callout-fs: #{$callout-fs};
  --label-fs: #{$label-fs};
  --caption-fs: #{$caption-fs};
  --capline-fs: #{$capline-fs};
}

@media (min-width: 1812px) {
  :root {
    --hero-scale: 1.3;
  }
}
