@use "../abstract/index" as *;
@use "sass:math";

body {
  font-family: $font-body;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: $background;
  color: $text;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}
h1 {
  @include typo(display1);
  margin-block-end: $l;
}
h2 {
  @include typo(display2);
  margin-block-end: $m;
}
h3 {
  @include typo(title2);
  margin-block-end: $s;
}

p {
  @include typo(body);
  margin-block-end: $xs;
}

section {
  padding-block: 4rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $text;
  font-family: $font-heading;
}

ul {
  list-style: none;
}

// @each $type, $size in $typo {
//   #{$type} {
//     font-size: $size;
//   }
// }
