@use "../abstract/index" as *;
@use "sass:math";

body {
  font-family: $font-body;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: $background;
  color: $text;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  // line-height: 1.2;
  margin-bottom: 1rem;
}
h1 {
  font-size: clamp(4rem, 8vw, 7.2rem);
}
h2 {
  font-size: clamp(3rem, 5vw, 5rem);
}
h3 {
  font-size: clamp(2rem, 3vw, 3rem);
}

.hero__title {
  font-size: clamp(4rem, 7vw, 9rem);
  max-width: 10ch;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  font-size: clamp(1.6rem, 2vw, 1.9rem);
}

section {
  padding-block: 4rem;
}

// @each $type, $size in $typo {
//   #{$type} {
//     font-size: $size;
//   }
// }
