@use "sass:map" as *;
@use "variables" as *;
@use "tokens" as *;

$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptop-l: 1440px,
  4K: 2560px,
);

$typo: (
  hero: (
    lh: $hero-lh,
    ls: $hero-ls,
    fw: $hero-w,
    fw-bold: $hero-b,
  ),
  display1: (
    lh: $display1-lh,
    ls: $display1-ls,
    fw: $display1-w,
    fw-bold: $display1-b,
  ),
  display2: (
    lh: $display2-lh,
    ls: $display2-ls,
    fw: $display2-w,
    fw-bold: $display2-b,
  ),
  title1: (
    lh: $title1-lh,
    ls: $title1-ls,
    fw: $title1-w,
    fw-bold: $title1-b,
  ),
  title2: (
    lh: $title2-lh,
    ls: $title2-ls,
    fw: $title2-w,
    fw-bold: $title2-b,
  ),
  title3: (
    lh: $title3-lh,
    ls: $title3-ls,
    fw: $title3-w,
    fw-bold: $title3-b,
  ),
  heading: (
    lh: $heading-lh,
    ls: $heading-ls,
    fw: $heading-w,
    fw-bold: $heading-b,
  ),
  subheading: (
    lh: $subheading-lh,
    ls: $subheading-ls,
    fw: $subheading-w,
    fw-bold: $subheading-b,
  ),
  body: (
    lh: $body-lh,
    ls: $body-ls,
    fw: $body-w,
    fw-bold: $body-b,
  ),
  callout: (
    lh: $callout-lh,
    ls: $callout-ls,
    fw: $callout-w,
    fw-bold: $callout-b,
  ),
  label: (
    lh: $label-lh,
    ls: $label-ls,
    fw: $label-w,
    fw-bold: $label-b,
  ),
  caption: (
    lh: $caption-lh,
    ls: $caption-ls,
    fw: $caption-w,
    fw-bold: $caption-b,
  ),
  capline: (
    lh: $capline-lh,
    ls: $capline-ls,
    fw: $capline-w,
    fw-bold: $capline-b,
  ),
);

$directions: (
  "t": block-start,
  "r": inline-end,
  "b": block-end,
  "l": inline-start,
  "": "",
);

$scales: (
  "2xs": 0.25,
  "xs": 0.5,
  "s": 0.75,
  "m": 1,
  "l": 1.5,
  "xl": 2,
  "2xl": 3,
  "3xl": 4,
  "4xl": 5.5,
  "5xl": 7,
  "6xl": 9,
);
