@use "variables" as *;
@use "functions" as *;
@use "sass:math";

// Scales

$scale: 1.618;

$step: $scale;

$h-step: math.pow($scale, 0.5);
$q-step: math.pow($scale, 0.25);
$e-step: math.pow($scale, 0.125);

$raw-size-m: 1;

$raw-size-s: math.div($raw-size-m, $scale);
$raw-size-xs: math.div($raw-size-s, $scale);
$raw-size-2xs: math.div($raw-size-xs, $scale);
$raw-size-l: $raw-size-m * $scale;
$raw-size-xl: $raw-size-l * $scale;
$raw-size-2xl: $raw-size-xl * $scale;

$size-2xs: r($raw-size-2xs);
$size-xs: r($raw-size-xs);
$size-s: r($raw-size-s);
$size-m: r($raw-size-m);
$size-l: r($raw-size-l);
$size-xl: r($raw-size-xl);
$size-2xl: r($raw-size-2xl);

// Typography Scales
$raw-hero-fs: math.pow($step, 3.3);
$raw-display1-fs: math.pow($step, 3);
$raw-display2-fs: math.pow($step, 2);
$raw-title1-fs: $step * $h-step;
$raw-title2-fs: $step;
$raw-title3-fs: $h-step;
$raw-heading-fs: $q-step;
$raw-body-fs: 1;
$raw-callout-fs: math.div(1, $e-step);
$raw-subheading-fs: math.div(1, $q-step);
$raw-label-fs: math.div(math.div(1, $q-step), $e-step);
$raw-caption-fs: math.div(1, $h-step);
$raw-capline-fs: math.div(1, $h-step);

$hero-fs: fluid($raw-hero-fs, 0.65, 8);
$display1-fs: fluid($raw-display1-fs, 0.7, 4);
$display2-fs: fluid($raw-display2-fs, 0.75, 3);
$title1-fs: fluid($raw-title1-fs, 0.8, 2);
$title2-fs: fluid($raw-title2-fs, 0.85, 1.5);
$title3-fs: fluid($raw-title3-fs, 0.9, 1);
$heading-fs: fluid($raw-heading-fs, 0.95, 0.6);
$subheading-fs: fluid($raw-subheading-fs, 0.95, 0.5);
$body-fs: fluid($raw-body-fs, 1, 0.3);
$callout-fs: fluid($raw-callout-fs, 0.95, 0.35);
$label-fs: fluid($raw-label-fs, 1, 0.2);
$caption-fs: fluid($raw-caption-fs, 1, 0.15);
$capline-fs: fluid($raw-capline-fs, 1, 0.1);

// $display1-fs: r($raw-display1-fs) * 1rem;
// $display2-fs: r($raw-display2-fs) * 1rem;
// $title1-fs: r($raw-title1-fs) * 1rem;
// $title2-fs: r($raw-title2-fs) * 1rem;
// $title3-fs: r($raw-title3-fs) * 1rem;
// $heading-fs: r($raw-heading-fs) * 1rem;
// $subheading-fs: r($raw-subheading-fs) * 1rem;
// $body-fs: r($raw-body-fs) * 1rem;
// $callout-fs: r($raw-callout-fs) * 1rem;
// $label-fs: r($raw-label-fs) * 1rem;
// $caption-fs: r($raw-caption-fs) * 1rem;
// $capline-fs: r($raw-capline-fs) * 1rem;

// Line Heights
$hero-lh: 1.02;
$display1-lh: 1.05;
$display2-lh: 1.1;
$title1-lh: 1.15;
$title2-lh: 1.2;
$title3-lh: 1.25;
$heading-lh: 1.3;
$subheading-lh: 1.35;
$body-lh: 1.55;
$callout-lh: 1.4;
$label-lh: 1.4;
$caption-lh: 1.4;
$capline-lh: 1.4;

// Letter Spacing
$hero-ls: -0.035em;
$display1-ls: -0.022em;
$display2-ls: -0.022em;
$title1-ls: -0.022em;
$title2-ls: -0.02em;
$title3-ls: -0.017em;
$heading-ls: -0.014em;
$subheading-ls: -0.007em;
$body-ls: -0.011em;
$callout-ls: -0.009em;
$label-ls: -0.004em;
$caption-ls: -0.007em;
$capline-ls: 0.0618em;

// Weights
$hero-w: 700;
$display1-w: 400;
$display2-w: 400;
$title1-w: 400;
$title2-w: 400;
$title3-w: 400;
$heading-w: 600;
$subheading-w: 400;
$body-w: 400;
$callout-w: 400;
$label-w: 500;
$caption-w: 400;
$capline-w: 400;

$hero-b: 800;
$display1-b: 700;
$display2-b: 700;
$title1-b: 700;
$title2-b: 600;
$title3-b: 600;
$heading-b: 700;
$subheading-b: 600;
$body-b: 600;
$callout-b: 600;
$label-b: 700;
$caption-b: 600;
$capline-b: 600;

//Spacing

$xxs: 0.25em;
$xs: 0.5em;
$s: 0.75em;
$m: 1em;
$l: 1.5em;
$xl: 2em;
$xxl: 3em;
$x2xl: 4em;
